<%=form_for Question.new do |f|%>
  <%=f.text_area :body%>
  <%=f.submit 'submit'%>
<%end%>

<ul>
<%@questions.each do |question|%>
  <li>
    <%=question.body%> - <%=question.resolved%>
    <%=link_to "resolve", resolve_question_path(question.id), :method=>:put%>
  </li>
<%end%>
</ul>
